<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <img src="https://media.istockphoto.com/id/937612960/fr/vectoriel/arbre-embl%C3%A9matique.jpg?s=612x612&w=0&k=20&c=lAUnuK4fLN7gZSYNE3sZIutBXY4UMd1bZh1B5eK80RQ="
                alt="mdo" width="70" height="70" class="rounded-circle">
            <span class="mb-3 mb-md-0 text-body-secondary">© Spac</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <a href="https://github.com/VadimSHHH">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="mdo"
                    width="70" height="70" class="rounded-circle">
            </a>
        </ul>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/js/header.js" type="text/javascript"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </footer>
</div>