<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('head'); %>
</head>

<body>
    <%- include('header'); -%>
        <main>
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal">Salon de beautée</h1>
                    <p class="lead fw-normal">pannel admin </p>
                    <a class="btn btn-outline-secondary" href="/categories">modifier la catégorie </a>
                    <a class="btn btn-outline-secondary" href="/products">modifier le produit </a>
                </div>
            </div>

        </main>
        <%- include('footer'); -%>
</body>

</html>